<!-- Our shopping page :) -->
<div class="container">

    <div class="row">

       <div class="col-md-2">
          <div class="filter">
            <h4>Filters</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo rem, ab fugiat quam quas est delectus vitae sequi. Odio assumenda nihil inventore nam suscipit repellendus ut rem possimus unde repudiandae.</p>
          </div>
       </div>

       <div class="col-md-10">
         <nav aria-label="breadcrumb" class="nav-breadcrumb">
           <ol class="breadcrumb">
             <li class="breadcrumb-item"><a href="/">Home</a></li>
             <li class="breadcrumb-item active"><a href="#">{{title}}</a></li>
           </ol>
         </nav>
         <h2>{{title}}</h2>

         <div class="row">
           {{# each products }}
           <div class="col-md-4 col-sm-6">
             <div class="card product" style="width: 18rem;">
               <img class="card-img-top img-fluid" src="{{this.imagePath}}" alt="Card image cap">
               <div class="card-body">
                 <h5 class="card-title">{{this.title}}</h5>
                 <div class="rating">
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <i class="fa fa-star"></i>
                   <a href="#" class="review">69 reviews</a>
                 </div>
                 <div class="price pull-left">
                   <strong>${{this.price}}</strong>
                 </div>
                 <a href="#" class="btn btn-primary pull-right">Add to Cart</a>
               </div>
             </div>
           </div>
            {{/each}}
         </div>

         <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
{{> newsletter }}
{{> footer}}
